body {
    font-family: arial;
    font-size: 14px;
}

.player {
    text-align: center;
    margin: 0px 0px 30px;
    font-size: 18px;
}

.stats {
    margin: 20px 0px 0px;

    &-row {
        display: flex;
        font-size: 16px;
        margin: 0px 0px 5px;
    }

    &-label {
        font-weight: bold;
        width: 60px;
    }

    &-value {

    }
}

.board {
    display: flex;
    width: 160px;
    margin: 0px auto;
    flex-wrap: wrap;

    div {
        border: 1px solid #999;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        font-size: 18px;

        &:after {
            width: 100%;
            text-align: center;
        }

        &[data-status="-1"]:after {
            content: 'O';
        }

        &[data-status="1"]:after {
            content:"\00d7";
            font-size: 24px;
        }

        &[data-status="0"]:hover {
            background: #f1f1f1;
            cursor: pointer;
        }
    }
}

.game {

    &-head {
        margin: 100px 0px 0px;
        display: flex;
        justify-content: center;

        &-stats {
            width: 150px;
        }

        &-board {
            position: relative;
            top: -55px;
            padding: 0px 50px;
        }

        &-buttons {
            input, button {
                width: 100px;
            }

            padding-right: 50px;
        }
    }

    &-graph {
        margin: 50px;
        height: 200px;
    }

}